

nav {
    padding-top:    21px;
    color: var(--color-heading-light);
}

nav h1 {
    font-size: 40px;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 45px;
}
nav ul li{
    font-size: 16px;
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;
}

nav .hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    nav .list {
        display: none;
    }

    nav .hamburger {
        display: block;
    }
    nav ul {
        position: relative;
    }

    .nav-popup {
        display: flex;
        justify-content: center;
        position: fixed;
        top:0;
        right:0;
        width: 60vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, .7);
        z-index: 999;
    }

    .hamburger{
        position: relative;
       
    }

    .hamburger-icon {
        position: absolute;
        z-index: 1000;
        left: 0; 
        right: 0; 
        margin-inline: auto; 
        width: fit-content;
        cursor: pointer;
    }

    .popup-list {
        margin-top:300px;
        color: black;
        display: flex;
        flex-direction: column;
    }

}