.find-perfect-home-container {
    display: flex;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.find-perfect-home-text {
    max-width: 440px;
}

.find-perfect-home-text h1 {
    margin-bottom: 29px !important;
    color: var(--color-heading-light);
}
.find-perfect-home-text p {
    margin-bottom: 29px !important;
    color: var(--color-body-light);
}
.image-container {
    display: flex;
    justify-content: center;
}

.maryraPortrait {
  display: none;
}

/* Ipad Vertical */
@media screen and (min-width: 768px){
    .find-perfect-home-text {
        max-width: 500px; 
    }
    .find-perfect-home-container {
        justify-content: center;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .maryraPortrait {
        display: block;
        width: 500px; 
        height: auto;
        margin-bottom: 60px;
    }

}

/* Ipad Horizontal */
@media screen and (min-width: 992px){
    .find-perfect-home-container {
    }
    .image-container {
        justify-content: center;   
        margin-bottom: 60px;
    }
    
    .maryraPortrait {
        display: block;
        width: 450px;
        height: auto;
    }
}

/* Laptop */
@media screen and (min-width: 1200px) {
    .find-perfect-home-container {
        justify-content: flex-start;
        margin-bottom: 0px;
    }
}
