.footer-container{
    /* display: flex; */
    padding: 44px 0px;
}
.SVGsize {
    width: 70px;
    height: 70px;
}

.word-block h3 {
    font-size: 24px
}

.first-word-block p {
    margin-bottom: 0;
}

@media screen and (max-width: 576px)  {
    .first-word-block {
        margin-bottom: 2rem !important;
    }
}