

nav {
    position: relative;
    padding-top:    21px;
    color: var(--color-heading-light);
}

nav h1 {
    font-size: 40px;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 45px;
}
nav ul li{
    font-size: 16px;
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;
}

nav .hamburger {
    display: none;
}
.nav-popup{
    display: none;
}

nav > h1 {
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    nav .list {
        display: none;
    }

    nav .hamburger {
        display: block;
    }
    nav ul {
        position: relative;
    }

    .nav-popup {
        display: flex;
        justify-content: center;
        position: fixed;
        top:0;
        right:-250px;

        max-width: 250px;
        width: 60vw;
        height: 100vh;

        background-color: rgba(14, 31, 42, .8);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        z-index: 999;
        transition: .2s ease-in-out;
    }
    
    .nav-popup.active {
        right: 0;
    }

    .hamburger-icon {
        z-index: 1000;
        cursor: pointer;
    }

    .popup-list li a{
        font-size: 20px;
    }
    .popup-list {
        margin-top:300px;
        color: var(--color-heading-light);
        display: flex;
        flex-direction: column;
    }
    html, body {
        overflow-y: var(--allow-scroll);
    }
}