.property-card {
    position: relative;
    height: 380px;
    width: 350px;

    border: 1px solid var(--color-body-dark);
    border-radius: 10px;
    overflow: clip;
}

.property-info {
    padding: 20px 20px;
}

.property-info h3,
.property-info h4
.property-info p {
    margin: 0 0;
}

.property-info .address{
    color: var(--color-body-dark)
}

.house-image {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.estate-badge-container {
    display: flex;
    justify-content: space-between;
}